# Database
DATABASE_URL=postgresql://user:password@localhost:5432/silvester_db

ROOT_PATH=/api

# JWT Security
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# Cookie Settings
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
